body {
    padding: 5%;
    text-align: center;
}

.link-home {
    position: absolute;
    left: 30px;
    top: 30px;
}
.card {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.card-prompt {
    display: inline-block;
    text-align: left;
    width: 50%;
}
.card-answer {
    display: inline-block;
    text-align: right;
    width: 50%;
}